
 html {
 }

 body {
	color:#000000;
	/* background-color:#FFFFFF; */
	background-color:snow;

	font-family:Helvetica,Meiryo,'メイリオ',sans-serif; /* iOS6はデフォルトが明朝体 (sans-serifを追加でゴシック体) */ /* メイリオは半角英数字の幅が広くなるからHelveticaを指定 */
	/* font-size:medium; */
	font-size:16px;
	line-height:180%; /* 行間 */
	letter-spacing:0px; /* 文字間隔 */
	-webkit-text-size-adjust:100%; -webkit-text-size-adjust:none; /* スマホ文字サイズ自動調整解除 */

	/* 背景 */
	background-image: url('img/bg_cloud.gif'); background-position:0px 0px; background-repeat:repeat-x;
 }


 h1, h2, h3 {
	display:inline-block;
	margin:1px; padding:1px;
	font-size:medium;
	font-weight:bold;
 }
 h4, h5, h6 {
	display:inline;
	margin:0px; padding:0px;
	font-size:medium;
	font-weight:normal;
 }


 div {
	margin:0px; padding:0px;
 }
 span {
	margin:0px; padding:0px;
 }
 font {
	margin:0px; padding:0px;
 }
 p {
	margin:0px; padding:0px;
 }


 a {
	/* display:inline; */
	border-radius:4px;
	margin:0px; padding:0px;
 }
 a:link {
	color:blue;
 }
 a:active {
	color:red;
 }
 a:visited {
	color:navy;
 }
 a:hover {
	color:red;
	text-decoration:none;
 }

 .main_frame a {
	margin:0px; padding:4px 0px;
 }

 .link_color_blue a, .link_color_blue a:link, .link_color_blue a:active, .link_color_blue a:visited ,
 a.link_color_blue,  a.link_color_blue:link,  a.link_color_blue:active,  a.link_color_blue:visited {
	color:blue;
 }
 .link_color_blue a:hover,
 a.link_color_blue:hover {
	color:red;
 }

 .hover_color_blue a:hover,
 a.hover_color_blue:hover {
	color:blue;
 }

 .link_color_black a, .link_color_black a:link, .link_color_black a:active, .link_color_black a:visited ,
 a.link_color_black,  a.link_color_black:link,  a.link_color_black:active,  a.link_color_black:visited {
	color:black;
 }
 .link_color_black a:hover,
 a.link_color_black:hover {
	color:black;
 }

 .link_color_white a, .link_color_white a:link, .link_color_white a:active, .link_color_white a:visited ,
 a.link_color_white,  a.link_color_white:link,  a.link_color_white:active,  a.link_color_white:visited {
	color:white;
 }
 .link_color_white a:hover,
 a.link_color_white:hover {
	color:white;
 }

 .link_color_red a, .link_color_red a:link, .link_color_red a:active, .link_color_red a:visited ,
 a.link_color_red,  a.link_color_red:link,  a.link_color_red:active,  a.link_color_red:visited {
	color:red;
 }
 .link_color_red a:hover,
 a.link_color_red:hover {
	color:red;
 }

 .link_color_gray a, .link_color_gray a:link, .link_color_gray a:active, .link_color_gray a:visited ,
 a.link_color_gray,  a.link_color_gray:link,  a.link_color_gray:active,  a.link_color_gray:visited {
	color:gray;
 }
 .link_color_gray a:hover,
 a.link_color_gray:hover {
	color:gray;
 }

 .link_color_darkgray a, .link_color_darkgray a:link, .link_color_darkgray a:active, .link_color_darkgray a:visited ,
 a.link_color_darkgray,  a.link_color_darkgray:link,  a.link_color_darkgray:active,  a.link_color_darkgray:visited {
	color:#666666;
 }
 .link_color_darkgray a:hover,
 a.link_color_darkgray:hover {
	color:#666666;
 }


 img {
	border:0px;
	margin:0px; padding:0px;
 }


 hr ,
 hr.line_1
 {
	border:solid #333333;
	border-width:1px 0px 0px 0px;
	height:1px; /* for IE6,IE7 */
	/* width:100%; */
	margin-top:6px;
	margin-bottom:6px;
 }
 hr.line_2 {
	border:solid #333333;
	border-width:2px 0px 0px 0px;
	height:2px; /* for IE6,IE7 */
	/* width:100%; */
	margin-top:6px;
	margin-bottom:6px;
 }
 hr.line_3 {
	border-width:3px 0px 0px 0px;
	height:3px; /* for IE6,IE7 */
 }
 hr.line_4 {
	border-width:4px 0px 0px 0px;
	height:4px; /* for IE6,IE7 */
 }
 hr.line_dotted {
	border:dotted #999999; /* border-color:; */
	border-width:1px 0px 0px 0px;
	height:1px; /* for IE6,IE7 */
	/* width:100%; */
	margin-top:6px;
	margin-bottom:6px;
 }
 hr.line_style_dotted {
	border-style:dotted;
 }
 hr.line_style_dashed {
	border-style:dashed;
 }
 hr.line_color_white {
	border-color:white;
 }
 hr.line_color_snow {
	border-color:snow;
 }
 hr.line_color_gray {
	border-color:gray;
 }
 hr.line_color_red {
	border-color:red;
 }
 hr.line_color_navy {
	border-color:navy;
 }
 hr.line_color_blue {
	border-color:blue;
 }
 hr.line_color_royalblue {
	border-color:royalblue;
 }
 hr.line_color_aliceblue {
	border-color:aliceblue;
 }


 abbr[title],
 acronym[title] { 
	border-bottom-width:0px;
	text-decoration:none;
 }


 form {
	font-family:Helvetica,Meiryo,'メイリオ',sans-serif;
	display:inline;
	margin:0px; padding:0px;
 }
 input, input[type=text], input[type=password], textarea, select, button {
 	font-family:Helvetica,Meiryo,'メイリオ',sans-serif;

 }
 input[type=text], input[type=password], select, button {
	margin:0px; padding:0px;
 }


 ul.list_structured {
	/* list-style-type:none; */
	display:block;
	margin:0px;
	padding:0px;
 }
 ul.list_structured li {
	/* list-style-type:none; */
	display:inline-block;
	margin:0px;
	padding:0px;
 }


 .font_shadow_dark {
	text-shadow:
	-1px -1px rgba(30,30,30,0.50),
	-1px  1px rgba(30,30,30,0.50),
	 0px -1px rgba(30,30,30,0.50),
	 0px  1px rgba(30,30,30,0.50),
	 1px  0px rgba(30,30,30,0.50),
	-1px  0px rgba(30,30,30,0.50),
	 1px -1px rgba(30,30,30,0.50),
	 1px  1px rgba(30,30,30,0.50);
 }
 .font_shadow_black {
	text-shadow:
	-1px -1px #111111,
	-1px  1px #111111,
	 0px -1px #111111,
	 0px  1px #111111,
	 1px  0px #111111,
	-1px  0px #111111,
	 1px -1px #111111,
	 1px  1px #111111;
 }
 .font_shadow_gray {
	text-shadow:
	-1px -1px #999999,
	-1px  1px #999999,
	 0px -1px #999999,
	 0px  1px #999999,
	 1px  0px #999999,
	-1px  0px #999999,
	 1px -1px #999999,
	 1px  1px #999999;
 }
 .font_shadow_white {
	text-shadow:
	-1px -1px #fafafa,
	-1px  1px #fafafa,
	 0px -1px #fafafa,
	 0px  1px #fafafa,
	 1px  0px #fafafa,
	-1px  0px #fafafa,
	 1px -1px #fafafa,
	 1px  1px #fafafa;
 }
 .font_shadow_aliceblue {
	text-shadow:
	-1px -1px aliceblue,
	-1px  1px aliceblue,
	 0px -1px aliceblue,
	 0px  1px aliceblue,
	 1px  0px aliceblue,
	-1px  0px aliceblue,
	 1px -1px aliceblue,
	 1px  1px aliceblue;
 }
 .font_shadow_royalblue {
	text-shadow:
	-1px -1px royalblue,
	-1px  1px royalblue,
	 0px -1px royalblue,
	 0px  1px royalblue,
	 1px  0px royalblue,
	-1px  0px royalblue,
	 1px -1px royalblue,
	 1px  1px royalblue;
 }
 .font_shadow_blue {
	text-shadow:
	-1px -1px blue,
	-1px  1px blue,
	 0px -1px blue,
	 0px  1px blue,
	 1px  0px blue,
	-1px  0px blue,
	 1px -1px blue,
	 1px  1px blue;
 }
 .font_shadow_navy {
	text-shadow:
	-1px -1px navy,
	-1px  1px navy,
	 0px -1px navy,
	 0px  1px navy,
	 1px  0px navy,
	-1px  0px navy,
	 1px -1px navy,
	 1px  1px navy;
 }
 .font_shadow_red {
	text-shadow:
	-1px -1px red,
	-1px  1px red,
	 0px -1px red,
	 0px  1px red,
	 1px  0px red,
	-1px  0px red,
	 1px -1px red,
	 1px  1px red;
 }


 img.img_opacity_95 {
	filter:alpha(opacity=95); opacity:0.95;
 }
 img.img_opacity_90 {
	filter:alpha(opacity=90); opacity:0.90;
 }
 img.img_opacity_80 {
	filter:alpha(opacity=80); opacity:0.80;
 }
 img.img_opacity_70 {
	filter:alpha(opacity=70); opacity:0.70;
 }
 img.img_opacity_60 {
	filter:alpha(opacity=60); opacity:0.60;
 }
 img.img_opacity_50 {
	filter:alpha(opacity=50); opacity:0.50;
 }


 .link_color_saturate_80 { /* 彩度 */ 
	        filter: saturate(100%);
	-webkit-filter: saturate(100%);
	-ms-transition: all .3s ease;
	-webkit-transition: all .3s ease;
 }
 .link_color_saturate_80:hover {
	        filter: saturate(80%);
	-webkit-filter: saturate(80%);
	-ms-transition: all .3s ease;
	-webkit-transition: all .3s ease;
 }

 .link_color_saturate_60 { /* 彩度 */ 
	        filter: saturate(100%);
	-webkit-filter: saturate(100%);
	-ms-transition: all .3s ease;
	-webkit-transition: all .3s ease;
 }
 .link_color_saturate_60:hover {
	        filter: saturate(60%);
	-webkit-filter: saturate(60%);
	-ms-transition: all .3s ease;
	-webkit-transition: all .3s ease;
 }

 .link_color_brightness_60 { /* 明るさ */ 
	        filter: brightness(100%);
	-webkit-filter: brightness(100%);
	-ms-transition: all .3s ease;
	-webkit-transition: all .3s ease;
 }
 .link_color_brightness_60:hover {
	        filter: brightness(60%);
	-webkit-filter: brightness(60%);
	-ms-transition: all .3s ease;
	-webkit-transition: all .3s ease;
 }

 .link_color_grayscale_80 { /* グレースケール */ 
	        filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-ms-transition: all .5s ease;
	-webkit-transition: all .5s ease;
 }
 .link_color_grayscale_80:hover {
	        filter: grayscale(80%);
	-webkit-filter: grayscale(80%);
	-ms-transition: all .5s ease;
	-webkit-transition: all .5s ease;
 }

 img.img_grayscale,
 .img_grayscale img { /* グレースケール (img) */ 
	        filter: none; /* IE用 */
	-webkit-filter: grayscale(0%); /* webkit用 */
	-ms-transition: all .3s ease;
	-webkit-transition: all .3s ease;
 }
 img.img_grayscale:hover,
 .img_grayscale img:hover {
	        filter: gray; /* IE用 */
	-webkit-filter: grayscale(100%); /* webkit用 */
	-ms-transition: all .3s ease;
	-webkit-transition: all .3s ease;
 }
 img.img_grayscale_50,
 .img_grayscale_50 img { /* グレースケール (img) */ 
	        filter: gray; /* IE用 */
	-webkit-filter: grayscale(50%); /* webkit用 */
 }

 div.img_scalable, span.img_scalable {
	position:relative; max-width:none; height:auto; line-height:100%;
 }
 .img_scalable img, .img_scalable a img { /* img */
	width:100%; max-width:100%; height:auto; -ms-interpolation-mode:bicubic;
	border:0px;
 }


  span.block_system_form {
	display:inline-block;
	background-color:rgba(255,255,255,0.60);
	border:2px #aaaaaa solid; border-radius:6px;
	margin:0px; padding:6px;

 }

  span.block_dashed_gray {
	display:block;
	color:gray; background-color:#eeeeff; background-color:rgba(220,220,255,0.60);
	border:2px dashed rgba(200,200,225,0.80); border-radius:5px;
	margin:6px 0px; padding:4px;
	font-size:smaller; line-height:150%;
 }
  span.block_dashed_gray a {
	color:gray;
 }
  span.block_dashed_gray hr.line_dashed_2 {
	border:dashed rgba(200,200,225,0.80);
	border-width:2px 0px 0px 0px;
	height:2px; /* for IE6,IE7 */
	/* width:100%; */
	margin-top:6px;
	margin-bottom:6px;
 }
